ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  padding: 0px;
  margin: 0;
}

.fa {
  font-size: 30pt;
  color: white;
  padding: 10px;
}

.fa-github:hover {
  color: rgb(135, 25, 209);
}

.fa-facebook:hover {
  color: rgb(56, 32, 163);
}

.fa-twitter:hover {
  color: rgb(27, 159, 199);
}

.linha-vertical {
  height: 133.2px;
  border-left: 2px solid;
  border-color: rgb(255, 255, 255);
}

.page-footer {
  border-radius: 13px 13px 0px 0px;
}
