<footer class="page-footer font-small py-5" style="background-color: #077E77;">
  <div class="container d-flex">

    <div class="container d-flex">
      
      <div class="container">
        <div class="d-flex justify-content-center align-middle">

          <h6 class="text-white">Home</h6>

        </div>
        <div class="d-flex justify-content-center">
          <h6 class="text-white">Publicações</h6>

        </div>


      </div>

      <div class="container">
        <div class=" d-flex justify-content-center">
          <h6 class="text-white">Sobre nós</h6>

        </div>
        <div class="d-flex justify-content-center">
          <h6 class="text-white">Quem somos</h6>

        </div>

      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h6 class="text-white">Redes sociais</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

          <ul class="social-network">
            <li>
              <a href="https://github.com/conectaGeneration" target="_blank" class="icoGithub"><i class="fa fa-github"
                  aria-hidden="true"></i></a>

            </li>

            <li>
              <a href="https://github.com/conectaGeneration" target="_blank" class="icoFacebook"><i
                  class="fa fa-facebook" aria-hidden="true"></i></a>

            </li>

            <li>
              <a href="https://github.com/conectaGeneration" target="_blank" class="icoTwitter"><i class="fa fa-twitter"
                  aria-hidden="true"></i></a>

            </li>
          </ul>

        </div>
      </div>

    </div>
  </div>

</footer>
