
  <footer  style="background-color: #06524D;">
    <div class="row justify-content-center mb-0 pt-5 pb-0 row-2 px-3">
        <div class="col-12">
            <div class="row row-2">
                <div class="col-sm-3 text-md-center">
                  <img src="https://i.imgur.com/uzxEvgo.png" alt="" width="60px" height="60px" />
                </div>
                <div class="col-sm-3 my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-0">Feed</li>
                        <li>Sobre o projeto</li>
                        <li>Sobre nós</li>
                    </ul>
                </div>
                <div class="col-sm-3 my-sm-0 mt-5">
                  <h5>Entre em contato com a nossa equipe</h5>
                    <ul class="list-unstyled">
                        <li class="mt-0">conectageneration@gmail.com</li>

                    </ul>
                </div>
                <div class="col-sm-3 my-sm-0 mt-5">
                    <ul class="d-flex list-unstyled">
                        <li class="mt-0">  <a href="https://github.com/conectaGeneration" target="_blank" class="icoGithub"><i class="fa fa-github"
                          aria-hidden="true"></i></a>
                          </li>

                        <li><a href="https://github.com/conectaGeneration" target="_blank" class="icoFacebook"><i class="fa fa-facebook"
                          aria-hidden="true"></i></a>
                        </li>
                        <li>
                          <a href="https://github.com/conectaGeneration" target="_blank" class="icoTwitter"><i class="fa fa-twitter"
                            aria-hidden="true"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div  style="background-color: #06524D;" class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
        <div class="col-12">
            <div class="row my-4 row-1 no-gutters">
                <div class="col-sm-3 col-auto text-center"><small>&#9400; Conecta. </small></div>
                <div class="col-md-3 col-auto "></div>
                <div class="col-md-3 col-auto"></div>
                <div class="col my-auto text-md-left text-right "> <small> conectageneratio@gmail.com <span><i class="fa fa-github"
                  aria-hidden="true" width="25px"></i></span>
                  <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid " width="25"></span></small> </div>
            </div>
        </div>
    </div>
</footer>

