<footer style="background-color: #0000">
  <div class="row justify-content-center align-items-center mb-0 pt-4 pb-4 row-2 px-3">
    <div class="col-12">
      <div class="row row-2">
        <div class="col-md-2 my-sm-0 mt-5"></div>

        <div class="col-md-4 my-sm-0 mt-5">
          <ul class="list-unstyled d-flex justify-content-center m-0">
            <li class="nav-item">
              <a routerLink="/inicio" class="nav-link active text-white" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a routerLink="/sobre" href="#sobrenos" class="nav-link text-white" id="sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a routerLink="/cursos" class="nav-link active text-white" aria-current="page" href="#">Cursos</a>
            </li>
          </ul>
        </div>

        <div class="col-md-4 my-sm-0 mt-5 d-flex justify-content-space-between">
          <div class="vertical-line"></div>
          <div class="my-auto text-md-left text-right mx-2 px-2">

            <span><i class="fa fa-envelope" aria-hidden="true" width="25px"></i></span>
            <small> conectageneratio@gmail.com </small>
          </div>
          <div class="d-flex justify-content-center align-items-center mr-5 px-2">
            <a href="https://github.com/conectaGeneration" target="_blank" class="icoGithub">
              <i class="fa fa-github p-0" aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="col-md-2 my-sm-0 mt-5"></div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
    <div class="col-12">
      <div class="row my-4 row-1 no-gutters">
        <div class="col-md-3 col-auto"></div>
        <div class="col-sm-6 col-auto text-center">
          <small>Desenvolvido por &#9400; 2022 - Conecta </small>
        </div>
        <div class="col-md-3 col-auto"></div>
      </div>
    </div>
  </div>
</footer>
