<div class="container-fluid">
  <div class="area-cursos">
    <h1>Cursos gratuitos para pessoas que querem empreender</h1>
  </div>

  <section class="card-cursos">
    <div class="card1">
      <img src="https://imgur.com/UCA0llL.jpg" />
      <h5>Marketing digital para o empreendedor</h5>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
        </svg>
        Duração: 2 horas
      </p>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        Início imediato
      </p>
      <div class="acess d-flex justify-content-center">
        <a target="_blank"
          href="https://www.sebrae.com.br/sites/PortalSebrae/cursosonline/marketing-digital-para-o-empreendedor,f870b8a6a28bb610VgnVCM1000004c00210aRCRD">
          <button class="btn btn-saiba">Saiba mais</button> </a>

        <h6>Gratuito</h6>
      </div>
    </div>
    <div class="card1">
      <img src="https://imgur.com/IaFOIKK.jpg" />
      <h5>Marketing digital </h5>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
        </svg>
        Duração: 4 horas
      </p>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        Conclusão em 15 dias
      </p>
      <div class="acess d-flex justify-content-center">
        <a target="_blank"
          href="https://www.sebrae.com.br/sites/PortalSebrae/cursoseeventos/marketing-digital-modulo-4,0c7374d787c23710VgnVCM1000004c00210aRCRD"><button
            class="btn btn-saiba">Saiba mais</button></a>

        <h6>Gratuito</h6>
      </div>
    </div>

    <div class="card1">
      <img src="https://imgur.com/47iKaj9.jpg" />
      <h5>Empreender Senai</h5>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
        </svg>
        Duração: 20 horas
      </p>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        Início imediato
      </p>
      <div class="acess d-flex justify-content-center"><a target="_blank"
          href="https://online.sp.senai.br/curso/89958/483/competencia-transversal-empreender-senai"><button
            class="btn btn-saiba">Saiba
            mais</button></a>

        <h6>Gratuito</h6>
      </div>
    </div>
  </section>

  <section class="card-cursos sec2">
    <div class="card1">
      <img src="https://i.imgur.com/qFe3tit.jpg" />
      <h5>Finanças pessoais</h5>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
        </svg>
        Duração: 14 horas
      </p>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        Início em 21 dias a partir da data de inscrição
      </p>
      <div class="acess d-flex justify-content-center"><a target="_blank"
          href="https://online.sp.senai.br/curso/78402/483/competencia-transversal-financas-pessoais"> <button
            class="btn btn-saiba">Saiba
            mais</button></a>

        <h6>Gratuito</h6>
      </div>
    </div>
    <div class="card1">
      <img src="https://i.imgur.com/Uyr9TL0.jpg" />
      <h5>Fundamentos de logística</h5>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
        </svg>
        Duração: 14 horas
      </p>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        Início imediato
      </p>
      <div class="acess d-flex justify-content-center"><a target="_blank"
          href="https://online.sp.senai.br/curso/78392/483/competencia-transversal-fundamentos-de-logistica"><button
            class="btn btn-saiba">Saiba
            mais</button></a>

        <h6>Gratuito</h6>
      </div>
    </div>
    <div class="card1">
      <img src="https://i.imgur.com/8gRmEo3.jpg" />
      <h5>Propriedade intectual</h5>
      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock"
          viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
        </svg>
        Duração: 14 horas
      </p>

      <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar"
          viewBox="0 0 16 16">
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
        </svg>
        Início em 21 dias a partir da data de inscrição
      </p>
      <div class="acess d-flex justify-content-center"><a target="_blank"
          href="https://online.sp.senai.br/curso/95087/483/competencia-transversal-propriedade-intelectual"> <button
            class="btn btn-saiba">Saiba
            mais</button></a>

        <h6>Gratuito</h6>
      </div>
    </div>
  </section>
</div>
