<!-- DIV SOBRE O PROJETO -->

<div class="container-fluid bg-colors">
  <div class="row d-flex justify-content-start pt-5">
    <div class="col-md-6 imgSobre d-flex justify-content-center">
      <img class="img" src="https://i.imgur.com/uzxEvgo.png" width="600px" height="400px" />
    </div>

    <div class="col-md-6 textoSobre px-3">
      <h2>Saiba mais sobre a Conecta.</h2>
      <p>
        O projeto tem por objetivos gerar valor para quem tem um negócio
        próprio, e para conectar prestadores de serviços com novos clientes.
      </p>
      <p>
        Através da rede social Conecta o usuário poderá alcançar o seu
        público-alvo de maneira eficaz e ampliar o alcance do seu negócio.
      </p>
      <p>
        O projeto também pretende obter inclusão ao inserir pessoas no mercado
        de trabalho, conectar pessoas, aumentar a rede de clientes e criar
        oportunidades de parcerias ou contratações.
      </p>
    </div>
  </div>

  <div id="sobrenos" class="row d-flex justify-content-center mt-4">
    <div class="col-md-12 sobrenos">
      <div class="row" id="bg-cards">
        <h3 class="text-left mb-4 mt-3 text-white ml-5 pl-5">
          Nosso time
        </h3>

        <div class="col-md-12 d-flex justify-content-center">

          <div class="profile3 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Gabriel</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/Balb1no" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/gabriel-balbino-4488b220b/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profilee mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Helen</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/helensouz" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/helen-souza-b4158519b/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile2 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Luis</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/lusferr" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/luis-fernando-1a24a2189/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Priscila</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/Priscila-aos" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/aospriscila/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile1 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Vinicius</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/ViniBavaresco" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/vinicius-bavaresco-46a549222/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class='container d-flex justify-content-center mt-5 mb-5'>
        <div class="text-about col-md-12 d-flex justify-content-center">
          <div class="row text-white">
            <h1 class="text-left">
              Sobre nossa equipe
            </h1>
            <p>
              O projeto Conecta começou na sala de aula da Generation Brasil com os desenvolvedores web Gabriel ,
              Helen,
              Luís, Priscila e Vinicius, em São Paulo no dia 21 de outubro de 2021.
              Um time formado por pessoas plurais e engajadas com o compromisso de contribuir, de alguma forma, com
              a
              sociedade através de códigos, conhecimentos, empatia e união, a fim de conectar as mais diversas
              ideias
              para construção de um futuro melhor.
            </p>
          </div>
        </div>
      </div>

    </div>



  </div>
</div>
