/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 30, 34);
  font-family: sans-serif
} */


/* CARROUSEL */
body {
  font-family: "Open Sans", sans-serif;
  margin-top: 200px
}

h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 25px 0 50px
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #ffdc12;
  left: 0;
  right: 0;
  bottom: -10px
}

.carousel {
  width: 650px;
  margin: 0 auto;
  padding-bottom: 50px
}

.carousel .item {
  color: #999;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 340px
}

.carousel .item a {
  color: #eb7245
}

.carousel .img-box {
  width: 145px;
  height: 145px;
  margin: 0 auto;
  border-radius: 50%
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%
}

.carousel .testimonial {
  padding: 30px 0 10px
}

.testimonial {
  color: #000000;
  font: Times Roman
}

.carousel .overview {
  text-align: center;
  padding-bottom: 5px
}

.carousel .overview b {
  color: #333;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 5px
}

.carousel .star-rating i {
  font-size: 18px;
  color: #ffdc12
}

.carousel .carousel-control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #999;
  text-shadow: none;
  top: 4px
}

.carousel-control i {
  font-size: 20px;
  margin-right: 2px
}

.carousel-control.left {
  left: auto;
  right: 40px
}

.carousel-control.right i {
  margin-right: -2px
}

.carousel .carousel-indicators {
  bottom: 15px
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 11px;
  height: 11px;
  margin: 1px 5px;
  border-radius: 50%
}

.carousel-indicators li {
  background: #e2e2e2;
  border-color: transparent
}

.carousel-indicators li.active {
  border: none;
  background: #888
}

/* NOSSO TIME */

.profile {
  position: relative;
  width: 300px;
  height: 350px;
  background: url("https://i.imgur.com/sAtgYjl.jpg");
  background-size: cover;
  cursor: pointer;
  border: 12px;
  border-top-right-radius: 35px !important;
  border-radius: 6px
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
  border-top-right-radius: 35px !important;
  border-radius: 6px
}

.profile:hover .overlay {
  opacity: 1
}

.social-icons {
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 22px
}

.social-icons li {
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s
}

.social-icons li:hover {
  background: #fff;
  color: #000
}

.overlay .about {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column
}

#bg-cards{

}
