<!-- DIV SOBRE O PROJETO -->

<div class="container-fluid bg-colors">
  <div class="row d-flex justify-content-start pt-5 pb-5">
    <div class="col-md-6 imgSobre d-flex justify-content-center">
      <img class="img" src="https://i.imgur.com/uzxEvgo.png" width="500px" height="400px" />
    </div>

    <div id="topo-sobre" class="col-md-6 textoSobre px-3">
      <h3>Saiba mais sobre a Conecta.</h3>
      <p>
        O projeto tem por objetivos gerar valor para quem tem um negócio
        próprio, e para conectar prestadores de serviços com novos clientes.
        Através da rede social Conecta o usuário poderá alcançar o seu
        público-alvo de maneira eficaz e ampliar o alcance do seu negócio.
        O projeto também pretende obter inclusão ao inserir pessoas no mercado
        de trabalho, conectar pessoas, aumentar a rede de clientes e criar
        oportunidades de parcerias ou contratações.
      </p>
    </div>
  </div>

  <div id="sobrenos" class="row d-flex justify-content-center mt-4">
    <div class="col-md-12 sobrenos">
      <div class="row" id="bg-cards">
        <h3 class="text-center mb-4 mt-3 text-white ml-5 pl-5">
          Nosso time
        </h3>

        <div class="col-md-12 d-flex justify-content-center wrap">

          <div class="profile3 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Gabriel</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/Balb1no" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/gabriel-balbino-4488b220b/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profilee mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Helen</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/helensouz" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/helen-souza-b4158519b/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile2 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Luis</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/lusferr" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/luis-fernando-1a24a2189/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Priscila</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/Priscila-aos" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/aospriscila/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile1 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Vinicius</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/ViniBavaresco" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/vinicius-bavaresco-46a549222/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class='container d-flex justify-content-center mt-5 mb-5'>
        <div class="col-md-10 d-flex justify-content-center">
          <div class="row text-white">
            <!-- <h1 class="text-left">
              Quem somos nós?
            </h1> -->
            <p class="text-about">
              " O projeto Conecta começou na sala de aula da Generation Brasil com os desenvolvedores web Gabriel , Helen,
              Luís, Priscila e Vinicius, em São Paulo no dia 21 de outubro de 2021.
              Um time formado por pessoas plurais e engajadas com o compromisso de contribuir, de alguma forma, com a
              sociedade através de códigos, conhecimentos, empatia e união, a fim de conectar as mais diversas ideias
              para construção de um futuro melhor."
            </p>

          </div>

        </div>
      </div>
      <div class="about-btn d-flex justify-content-center">
        <button>
          <a href="#topo-sobre">
            <svg  class="svg" xmlns="http://www.w3.org/2000/svg" width="25" height="26" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
            </svg>
          </a>
        </button>
      </div>

    </div>



  </div>
</div>
