<div class="container mb-5 mt-5">

  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="text-center text-secondary">Apagar Postagem</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center text-secondary">Você tem certeza que deseja apagar todas as propriedades dessa postagem?
      </h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <h5 class="text-center text-primary">Titulo: {{postagem.titulo}}</h5>
      <h5 class="text-center text-primary">Texto: {{postagem.texto}}</h5>
      <h5 class="text-center text-primary">Imagem: </h5>
      <img src="{{postagem.imagem}}" alt="imagem a ser apagada" width="400px" height="300px">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12 d-flex justify-content-center">
      <button class="btn btn-danger mr-5" routerLink="/inicio">Não</button>
      <button class="btn btn-success" (click)="apagar()">Sim</button>
    </div>
  </div>

</div>
