<nav class="navbar navb navbar-expand-lg static">
  <div class="container-fluid">
    <a routerLink="/inicio" class="navbar-brand logo" href="#">Conecta.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="d-flex">
      <ul class="navbar-nav nav-items">
        <li class="nav-item">
          <a routerLink="/landing-page" href="#landing-page" class="nav-link text-white" id="sobre">Inicio</a>
        </li>

        <li class="nav-item">
          <a routerLink="/sobre-deslogado" href="#sobrenos-deslogado" class="nav-link text-white" id="sobre">Sobre
            nós</a>
        </li>

        <li class="nav-item">
          <button class="btn btn-light pr-4 pl-4" routerLink="/inicio">
            Entrar
          </button>
        </li>
      </ul>
    </form>
  </div>
</nav>

<!-- body -->
<!-- DIV SOBRE O PROJETO -->
<div class="container-fluid bg-colors">
  <div class="row d-flex justify-content-start pt-5">
    <div class="col-md-6 imgSobre">
      <img class="img" src="https://i.imgur.com/M19x5Gz.png" width="600px" height="600px" />
    </div>

    <div class="col-md-6 textoSobre">
      <h2>Motivação e problemática</h2>
      <p>
        A Conecta é uma rede social profissional brasileira que pretende dar
        visibilidade para as pessoas que tem um negócio próprio ou presta algum
        tipo de serviço e quer ampliar sua rede de contatos.
      </p>
      <p>
        A falta de emprego é uma realidade no Brasil. De acordo com o IBGE, o
        número de trabalhadores domésticos sem carteira cresceu 8,0% e o de
        empregadores sem CNPJ, 7,4%. Com isso, a taxa de informalidade chegou a
        40,7%, o que corresponde a 38,2 milhões de trabalhadores informais no
        país. Os dados são da Pesquisa Nacional por Amostra de Domicílios
        Contínua (Pnad Contínua), divulgada 29/12/2021 pelo IBGE.
      </p>
      <p>
        O projeto busca gerar oportunidades por meio de conexões, tornando o
        engajamento da indicação boca a boca uma possibilidade, através de uma
        rede social que a favoreça e desempenhe essa função de alcançar novas
        possibilidades para as pessoas em vulnerabilidade social.
      </p>
      <p>
        Atualmente o projeto Conecta conta com um modelo de negócio
        diversificado, possibilitando acesso e autonomia para todo tipo de
        negócio, visando atingir todas as regiões do Brasil para gerar valor
        econômico, social e ambiental sustentável.
      </p>
    </div>
  </div>

  <div id="sobrenos" class="row d-flex justify-content-center mt-4">
    <div class="col-md-12 sobrenos">
      <div class="row" id="bg-cards">
        <h3 class="text-left mb-4 mt-3 text-white">
          <a name="sobrenos"></a>Nosso time
        </h3>
        <div class="col-md-12 d-flex justify-content-center">

          <div class="profile3 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Gabriel</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/Balb1no" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/gabriel-balbino-4488b220b/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profilee mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Helen</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/helensouz" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/helen-souza-b4158519b/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile2 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Luis</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/lusferr" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/luis-fernando-1a24a2189/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="profile mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Priscila</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/Priscila-aos" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/aospriscila/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>



          <div class="profile1 mx-3">
            <div class="overlay">
              <div class="about d-flex flex-column">
                <h4>Vinicius</h4>
                <span>Web Java Developer</span>
              </div>
              <ul class="social-icons">
                <li>
                  <a href="https://github.com/ViniBavaresco" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/vinicius-bavaresco-46a549222/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>


      <div class='container d-flex justify-content-center mt-5 mb-5'>
        <div class="col-md-12 d-flex justify-content-center">
          <div class="row text-white">
            <h1 class="text-left">
              Quem somos nós?
            </h1>
            <p>
              O projeto Conecta começou na sala de aula da Generation Brasil com os desenvolvedores web Gabriel , Helen,
              Luís, Priscila e Vinicius, em São Paulo no dia 21 de outubro de 2021.
              Um time formado por pessoas plurais e engajadas com o compromisso de contribuir, de alguma forma, com a
              sociedade através de códigos, conhecimentos, empatia e união, a fim de conectar as mais diversas ideias
              para construção de um futuro melhor.
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<footer>
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-12 bg-footer pt-3 pb-3">
      <div class="text-center text-white">&#9400; 2022 - Conecta.</div>
    </div>
  </div>
</footer>
