<nav class="navbar navb navbar-expand-lg static">
  <div class="container-fluid">
    <a routerLink="/inicio" class="navbar-brand logo" href="#">Conecta.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="d-flex">
      <ul class="navbar-nav nav-items">

        <li class="nav-item ">
          <a routerLink="/landing-page" href="#landing-page" class="nav-link text-white" id="sobre">Inicio</a>
        </li>

        <li class="nav-item ">
          <a routerLink="/sobre-deslogado" href="#sobrenos-deslogado" class="nav-link text-white" id="sobre">Sobre nós</a>
        </li>

        <li class="nav-item ">
          <button class="btn btn-light pr-4 pl-4" routerLink="/inicio">
            Entrar
          </button>
        </li>

      </ul>

    </form>

  </div>
</nav>

<!-- body -->
<!-- DIV SOBRE O PROJETO -->
<div class="container-fluid bg-colors">

  <div class="row d-flex justify-content-start pt-5">

    <div class="col-md-6 imgSobre">
      <img class=" img " src="https://i.imgur.com/sIO5xCM.gif" width="600px" height="600px" >

    </div>

    <div class="col-md-6 textoSobre">
      <h2>
        Saiba mais sobre a Conecta.
      </h2>
      <p>
        O projeto tem por objetivos gerar valor para quem tem um negócio próprio, e para conectar prestadores de serviços com novos clientes.
      </p>
      <p>
        Através da rede social Conecta o usuário poderá alcançar o seu público-alvo de maneira eficaz e ampliar o alcance do seu negócio.
      </p>
      <p>
        O projeto também pretende obter inclusão ao inserir pessoas no mercado de trabalho,  conectar pessoas, aumentar a rede de clientes e criar oportunidades de parcerias ou contratações.
      </p>

    </div>


  </div>





    <div  id="sobrenos" class="row  d-flex justify-content-center mt-4 ">
      <div  class="col-md-12 sobrenos ">

        <div class="row" id="bg-cards">

          <h3 class="text-center mb-4 mt-3 text-white"><a name="sobrenos"></a>Nosso time</h3>
          <div class="col-md-12 d-flex justify-content-center ">


              <div class="profile mx-3">
                <div class="overlay">
                  <div class="about d-flex flex-column">
                    <h4>Priscila</h4> <span>Web Java Developer</span>
                  </div>
                  <ul class="social-icons">

                    <li> <a href="https://github.com/Priscila-aos" target="_blank"> <i class="fa fa-github"></i> </a> </li>
                    <li> <a href="https://www.linkedin.com/in/aospriscila/" target="_blank"> <i class="fa fa-linkedin"></i> </a> </li>

                  </ul>
                </div>
              </div>



              <div class="profile1 mx-3">
                <div class="overlay">
                  <div class="about d-flex flex-column">
                    <h4>Vinicius</h4> <span>Web Java Developer</span>
                  </div>
                  <ul class="social-icons">

                    <li> <a href="https://github.com/ViniBavaresco" target="_blank"> <i class="fa fa-github"></i> </a> </li>
                    <li> <a href="https://www.linkedin.com/in/vinicius-bavaresco-46a549222/" target="_blank"> <i class="fa fa-linkedin"></i> </a> </li>

                  </ul>
                </div>
              </div>



              <div class="profile2 mx-3">
                <div class="overlay">
                  <div class="about d-flex flex-column">
                    <h4>Luis</h4> <span>Web Java Developer</span>
                  </div>
                  <ul class="social-icons">

                    <li> <a href="https://github.com/lusferr" target="_blank"> <i class="fa fa-github"></i> </a> </li>
                    <li> <a href="https://www.linkedin.com/in/luis-fernando-1a24a2189/" target="_blank"> <i class="fa fa-linkedin"></i> </a> </li>

                  </ul>
                </div>
              </div>


              <div class="profile3 mx-3">
                <div class="overlay">
                  <div class="about d-flex flex-column">
                    <h4>Gabriel</h4> <span>Web Java Developer</span>
                  </div>
                  <ul class="social-icons">

                    <li> <a href="https://github.com/Balb1no" target="_blank"> <i class="fa fa-github"></i> </a> </li>
                    <li> <a href="https://www.linkedin.com/in/gabriel-balbino-4488b220b/" target="_blank"> <i class="fa fa-linkedin"></i> </a> </li>

                  </ul>
                </div>
              </div>



              <div class="profilee mx-3">
                <div class="overlay">
                  <div class="about d-flex flex-column">
                    <h4>Helen</h4> <span>Web Java Developer</span>
                  </div>
                  <ul class="social-icons">

                    <li> <a href="https://github.com/helensouz" target="_blank"> <i class="fa fa-github"></i> </a> </li>
                    <li> <a href="https://www.linkedin.com/in/helen-souza-b4158519b/" target="_blank"> <i class="fa fa-linkedin"></i> </a> </li>

                  </ul>
                </div>
              </div>



            </div>

        </div>

      </div>

    </div>

  </div>


<footer>
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-12 bg-secondary pt-3 pb-3">
      <div class="text-center">&#9400; 2022 - Conecta. </div>
    </div>
  </div>
</footer>
