<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #077E77;">
    <div class="container">
        <a class="navbar-brand text-light f" href="#">Conecta.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-end" id="conteudoNavbarSuportado">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-light f" href="#">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#" routerLink="/sobre">Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white m" href="#">Sobre o projeto</a>
                    </li>
                    <li class="nav-item d-flex">
                        <button type="button" class="btn btn-light btn-sm btn-custom px-5"><a (click)="sair()">Sair</a></button>
                    </li>
                </ul>
            </div>

    </div>
</nav>
