.fs-16
 {
   font-size: 16pt;
 }

 .fs-18
 {
   font-size: 18pt;
 }

 a{
   cursor: pointer;
 }

 #navbar{
   display: flex;
   justify-content: space-between;
   padding-left: 7%;
   padding-right: 7%;

   background-color: #A3CFCD;
   box-shadow: 0 0 5px 0 rgb(126, 125, 125);

 }


