* {
    font-family: 'Poppins', sans-serif;
}

.btn-custom {
    border-radius: 50px;

}

.navbar {
    border-radius: 0px 0px 13px 13px;
}

.m {
    margin-right: 15px;
}

.f {
    font-weight: bold;
}