<section>
  <div class="container d-flex">
    <!-- <img   src="https://imgur.com/AgRKniX.gif"> -->

    <div class="login-area ">
      <div class="login d-flex justify-content-center">
      <div class="form">
        <h2>Cadastrar</h2>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nome</label>
          <input [(ngModel)]="usuario.nome" type="nome" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Maria da Slva">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">E-mail</label>
          <input [(ngModel)]="usuario.email" placeholder="usuario@gmail.com"  class="form-control" type="email" rows="3">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Link da foto</label>
          <input [(ngModel)]='usuario.foto'class="form-control" type="text" placeholder="https://imgur.com/" id="exampleFormControlTextarea1" rows="3">
        </div>

        <div class=" mb-3 ">
          <label for="tipoUsuario">Tipo de Usuário</label>
          <select placeholder="tipo de usuario" class="form-control input-control mt-4" (change)="tipoUser($event)"
            name="tipoUsuario" id="tipoUsuario">
            <option value="normal">Padrão</option>
            <option value="admin">Administrador</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
          <input [(ngModel)]='usuario.senha' class="form-control" type="password" placeholder="******" id="exampleFormControlTextarea1" rows="3">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Confirmar senha</label>
          <input (input)='confirmSenha($event)' id="senha"  class="form-control" type="password" placeholder="******" id="exampleFormControlTextarea1" rows="3">
        </div>




        <small><a style="color: #fff;" class="d-flex justify-content-center textc"  routerLink="/entrar">Já tem cadastro? Clique aqui</a> </small>
        <div class="d-flex justify-content-center buttons">

          <button class="btn btn-cancelar" routerLink="/entrar" >Cancelar</button>
          <button class="btn btn-logar" (click)='cadastrar()' type="submit">Cadastrar</button>

        </div>

        <img width="400px" height="500px" src="https://imgur.com/wtJeeH9.gif">
      </div>

      <!-- <img width="400px" height="500px" src="https://imgur.com/fRjPAoY.png"> -->

      <!-- <video autoplay loop>
        <source src="https://imgur.com/iPkzGuT" type="video/mp4">
      </video> -->




    </div>
  </div>



  </div>
  </section>

