
<section>
  <div class="container">
    <div class="login-area">
      <h2>Cadastrar-se</h2>
      <div class="login d-flex justify-content-center">
      <div class="form">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Endereço de e-mail</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
          <input   class="form-control" type="password" placeholder="******" id="exampleFormControlTextarea1" rows="3">
        </div>
        <small><a class="d-flex justify-content-center"  routerLink="/entrar">Já tem cadastro? Clique aqui</a> </small>
        <div class="d-flex justify-content-center buttons">

        <button class="btn btn-logar" >Logar</button>
        <button class="btn btn-cancelar"  routerLink="/landing-page" >Cancelar</button>
        </div>
      </div>



    </div>
  </div>

  </div>
  </section>
