<nav class="navbar navb navbar-expand-lg static">
  <div class="container-fluid">
    <a routerLink="/inicio" class="navbar-brand logo" href="#">Conecta.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="d-flex">
      <ul class="navbar-nav nav-items">
        <li class="nav-item">
          <a routerLink="/landing-page" href="#landing-page" class="nav-link text-white" id="sobre">Inicio</a>
        </li>

        <li class="nav-item">
          <a routerLink="/sobre-deslogado" href="#sobrenos-deslogado" class="nav-link text-white" id="sobre">Sobre
            nós</a>
        </li>

        <li class="nav-item">
          <button class="btn btn-light pr-4 pl-4" routerLink="/inicio">
            Entrar
          </button>
        </li>
      </ul>
    </form>
  </div>
</nav>

<body>
  <div class="container-fluid bg-colors pt-4">
    <div class="row">
      <!-- imagem -->
      <div class="col-md-6 text-center">
        <img src="https://imgur.com/HPfsbid.gif" alt="" />
      </div>

      <!-- texto -->
      <div class="col-md-6 pt-5 d-block justify-content-center textoSobre">
        <h2>Seja bem vindo(a)!</h2>
        <p class="fs-16">
          O projeto tem por objetivos gerar valor para quem tem um negócio
          próprio, e para conectar prestadores de serviços com novos clientes.
        </p>
        <p class="fs-16">
          Através da rede social Conecta o usuário poderá alcançar o seu
          público-alvo de maneira eficaz e ampliar o alcance do seu negócio.
        </p>
        <p class="fs-16">
          O projeto também pretende obter inclusão ao inserir pessoas no mercado
          de trabalho, conectar pessoas, aumentar a rede de clientes e criar
          oportunidades de parcerias ou contratações.
        </p>
      </div>
    </div>

    <!-- body -->
    <div class="area-foco row bg-colorv">
      <div class="text-center">
        <h3>Qual é o nosso foco?</h3>
      </div>

      <div class="container d-flex justify-content-center">
        <div class="row">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fs-18">Objetivo</h5>
                <p class="card-text fs-16">
                  Divulgação de portfólio e inclusão.
                </p>
                <i class="fa fa-bullseye icone"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fs-18">Oportunidade</h5>
                <p class="card-text fs-16">
                  Oportunidades para prestadores de serviços.
                </p>
                <i class="fa fa-briefcase icone"></i>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fs-18">Conexão</h5>
                <p class="card-text fs-16">
                  Possibilidade para contratação de serviços.
                </p>
                <i class="fa fa-wifi icone"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 ">
        <!-- missao -->
        <div class="d-flex justify-content-around pb-4">
          <div class="col-md-4 text-center"><img src="https://i.imgur.com/Az5dCKD.png" alt="missão" width="400px" />
          </div>

          <div class="col-md-4 text-center fs-16 mvv">Nossa missão é conectar e aproximar pessoas , serviços e projetos.
            Criando uma experiência segura, positiva e acessível para todos. Contribuindo para o Trabalho Decente e
            Crescimento Econômico, segundo ODS 8, que promove o crescimento econômico, inclusivo e sustentável, emprego
            pleno e produtivo e trabalho decente para todos.</div>
        </div>
        <!-- fim missao -->
        <hr>
        <!-- missao -->
        <div class="d-flex justify-content-around pb-4">
          <div class="col-md-4 text-center fs-16 mvv">Ser uma rede social reconhecida pelo seu papel na mudança do
            cenário social.
            Melhorar a qualidade vida e impactar positivamente o maior número de pessoas.</div>

          <div class="col-md-4 text-center"><img src="https://i.imgur.com/dtHthJV.png" alt="visão" width="400px" />
          </div>
        </div>
        <!-- fim missao -->
        <hr>
        <!-- valores -->
        <div class="d-flex justify-content-around pb-4">
          <div class="col-md-4 text-center"><img src="https://i.imgur.com/X8BNycA.png" alt="valores" width="400px" />
          </div>

          <div class="col-md-4 text-center fs-16 mvv">Seriedade, diversidade, transparência e inclusão são as chaves
            para guiar nossa conduta, expressando quem somos e em que acreditamos.</div>
        </div>
        <!-- fim valores -->

      </div>
    </div>

  </div>
</body>

<footer id="footerlanding">
  <div class="row d-flex justify-content-center text-center">
    <div class="col-md-12 bg-footer pt-3 pb-3">
      <div class="text-center text-white">&#9400; 2022 - Conecta</div>
    </div>
  </div>
</footer>
