<section>
  <div class="container">
    <div class="login-area ">
      <h2>Entrar</h2>
      <div class="login d-flex justify-content-center">
      <div class="form">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Endereço de e-mail</label>
          <input [(ngModel)]='userLogin.email' type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Senha</label>
          <input  [(ngModel)]='userLogin.senha' class="form-control" type="password" placeholder="******" id="exampleFormControlTextarea1" rows="3">
        </div>
        <small><a class="d-flex justify-content-center"  routerLink="/cadastrar">Não tem cadastro? Clique aqui</a> </small>
        <div class="d-flex justify-content-center buttons">

        <button class="btn btn-logar" (click)="entrar()">Logar</button>
        <button class="btn btn-cancelar"  routerLink="/landing-page" >Cancelar</button>
        </div>
      </div>
      <iframe src="https://giphy.com/embed/ZKE4KLapkkDAyrof2K" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>




    </div>
  </div>

  </div>
  </section>

