<div class="row d-flex justify-content-center" id="gradient-bg">

  <div class="container container-entrar">
    <div class="row d-flex justify-content-center" id="quad">

      <div class="col-md-7 d-flex justify-content-center" id="form-entrar">

        <div class="col-md-8">
          <h1 class="text-center mb-3 fw-bold fs-3">Logar</h1>

          <div class="form-group mb-4">
            <label for="usuario fw-bold fs-5">Usuário</label>
            <input class="form-control input-control" type="text" name="usuario" id="usuario" placeholder="Usuário">
          </div>

          <div class="form-group mb-5">
            <label for="senha fw-bold fs-5">Senha</label>
            <input class="form-control input-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
          </div>

          <div class="d-flex justify-content-center">
            <button class="btn btn-success">Entrar</button>
          </div>

          <hr class="mt-5 mb-5">
          <p class="text-center">
            Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
          </p>
        </div>

      </div>


      <div class="col-md-4  justify-content-center" id="form-entrar-d">


        <div id="text-img">
          <h2 class="fw-bold"> <p>Compartilhe o seu</p>
             <p>pequeno negócio</p>
            e receba por isso!</h2>
        </div>


        <div class="img-bg"><img src="https://i.imgur.com/LNMKeea.png"></div>


      </div>

    </div>
  </div>

</div>
