* {
  list-style: none;
  text-decoration: none;
}

.fs-14{
  font-size: 14pt;
}



a {
  color: #797777;
}

.bold{
  font-weight: bold;
}

.container {
  margin-top: 60px;
}

#bg-color {
  background-color: rgb(234, 245, 239);
  min-height: 100vh;

}



small {
  color: #797777;
}

/* ========================== */


.feed {
  display: flex;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
}

.posts {
  padding-left: 10vh;
  padding-right: 10vh;
}

.option {
  font-size: 10pt;
}

.card {
  height: 400px;
  width: 210px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.card-foto {
  margin-top: 10px;
  border-radius: 10px;
}

.titulo-perfil {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.card-pub {

  width: 350px;
  height: 48px;

  background: #E5E5E5;
  border-radius: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

.columnLateral {
  border-radius: 1rem;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: 0 0 5px 0 rgb(126, 125, 125);
}

.social-network li {
  margin: 0 6px;
}

#tag-color {
  padding: 2px 8px 3px 8px;
}

#columnD {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
  margin-right: 1%;
  position: sticky;
  top: 100px;

}

#columnE {
  margin-left: 1%;
  position: sticky;
  top: 100px;

}


#btnPubli {
  border-radius: 1rem;
  background: white;
  box-shadow: 0 0 5px 0 rgb(126, 125, 125);
  padding-right: 120px;
  padding-left: 10px;

}

#btnPubli:hover {
  background-color: rgb(219, 218, 215);
}


.fa-facebook,
.fa-github,
.fa-twitter {
  color: black;
}

.form-group {
  width: 102px;
  background: #FFFFFF;
  border-radius: 10px;
}

.form-control {

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;

  color: #9A9EA6;
  background: #FFFFFF;
  border-radius: 10px;
}

.form-select {
  width: 102px;
  height: 28px;


  background: #FFFFFF;
  border-radius: 10px;
}

.size-max {
  max-height: 300px;
  min-height: 300px;
}

.modal-content,
.modal-header,
.modal-body {
  background-color: #06524D;
}

.modal {
  border-radius: 50px;

}

.input-modal {

  background: #FFFFFF;
  border-radius: 10px;
}


#card-size {
  width: 400px;
  height: 100%;
}

#center {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#tag-color {
  background-color: #077E77;
  border-radius: 5px
}

.space {
  margin-right: 10px;
}

.ajustar {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain
}

.ajust{
  object-fit: cover
}
