*{
  list-style: none;
}


.container{
  margin-top: 80px;
}
/* ========================== */


.card{
  height: 400px;
  width: 210px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.card-foto{
  margin-top: 10px;
  border-radius: 10px;
}

.titulo-perfil{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.card-pub{

  width: 350px;
  height: 48px;

  background: #E5E5E5 ;
  border-radius: 40px;
}




.btn-pub{
  margin-left: 50px;
  width: 113px;
  height: 36px;

  float:right;

  background: #4C4D4C;
  border-radius: 30px;
  text-align: center;

}

#btnPubli{
  border-radius: 1rem;
  background-color: rgb(243, 242, 239, 1);
  box-shadow: 0 0 5px 0 rgb(126, 125, 125);
}


.fa-facebook, .fa-github, .fa-twitter{
  color: black;
}




